### Data Generating

In this notebook I will generate data using LLM. The main idea is to generate fake data to use it in my Tableau project.  
The story of the data as follows: there are two companies that produce mobile games. The first company has 6 projects: 2 project are mature and profitable, 1 project is promissing and started recently started to generate revenue, 1 project is in the decline phase, 2 projects are under development. The second company has 3 projects: 1 is mature and profitable and the other two are under development. I want to create a Tableau dashboard that will provide insights on financial overview of the two companies. This dashboard could be used by owners of the investments, so thay can see how many project they have, which is profitable, how much money they have and so on. the second dashboard will be more detailed, which will provide insights about what are the main financial metrics and their change compared to previous period

In [2]:
import pandas as pd
import numpy as np
import random
from langchain.chat_models import ChatOpenAI

llm = ChatOpenAI(openai_api_key=openapikey)

### Generate first names of employees

In [16]:
first_names = llm.invoke('generate python list of 50 firstnames. Return only python list')

In [19]:
print(first_names.content)

firstnames = [
    "Emma", "Olivia", "Ava", "Isabella", "Sophia", "Charlotte", "Mia", "Amelia", "Harper", "Evelyn",
    "Liam", "Noah", "Oliver", "William", "Elijah", "James", "Benjamin", "Lucas", "Henry", "Alexander",
    "Michael", "Ethan", "Daniel", "Matthew", "Aiden", "Joseph", "Samuel", "Sebastian", "David", "Carter",
    "Jackson", "Wyatt", "Jayden", "John", "Owen", "Dylan", "Luke", "Gabriel", "Anthony", "Isaac",
    "Grayson", "Jack", "Julian", "Levi", "Christopher", "Joshua", "Andrew", "Lincoln", "Mateo", "Ryan"
]

print(firstnames)

### Generate last names of employees

In [20]:
last_names = llm.invoke('generate python list of 50 lastnames. Return only python list')

In [21]:
print(last_names.content)

lastnames = ["Smith", "Johnson", "Williams", "Jones", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor", "Anderson", "Thomas", "Jackson", "White", "Harris", "Martin", "Thompson", "Garcia", "Martinez", "Robinson", "Clark", "Rodriguez", "Lewis", "Lee", "Walker", "Hall", "Allen", "Young", "Hernandez", "King", "Wright", "Lopez", "Hill", "Scott", "Green", "Adams", "Baker", "Nelson", "Carter", "Mitchell", "Perez", "Roberts", "Turner", "Phillips", "Campbell", "Parker", "Evans", "Edwards", "Collins", "Stewart"]

print(lastnames)

### Generate Game names

In [40]:
game_names = llm.invoke('list of not existing 9 mobile game names.Return only python list with names')

In [41]:
print(game_names.content)

Here is a Python list with nine randomly generated non-existing mobile game names:

```python
game_names = ['Cyberverse Conquest', 'Nebula Rumble', 'Phantom Runners', 'Pixel Odyssey', 'Galactic Blitz', 'Mystic Maze', 'Zombie Zapper', 'Cosmic Clash', 'Enchanted Enigma']
```

Please note that these game names are randomly generated and do not represent actual mobile games.

### Generate positions

In [44]:
simplified_positions = llm.invoke('list of 10 simplified_positions in game development industry .Return only python list. Positions should not include the word Game')

In [45]:
print(simplified_positions.content)

['Software Engineer',
 'UI/UX Designer',
 'Game Designer',
 'Level Designer',
 'Producer',
 'QA Tester',
 'Art Director',
 'Animator',
 'Sound Designer',
 'Technical Artist']

In [99]:
# Sample first and last names for generation
first_names = [
    "Emma", "Olivia", "Ava", "Isabella", "Sophia", "Charlotte", "Mia", "Amelia", "Harper", "Evelyn",
    "Liam", "Noah", "Oliver", "William", "Elijah", "James", "Benjamin", "Lucas", "Henry", "Alexander",
    "Michael", "Ethan", "Daniel", "Matthew", "Aiden", "Joseph", "Samuel", "Sebastian", "David", "Carter",
    "Jackson", "Wyatt", "Jayden", "John", "Owen", "Dylan", "Luke", "Gabriel", "Anthony", "Isaac",
    "Grayson", "Jack", "Julian", "Levi", "Christopher", "Joshua", "Andrew", "Lincoln", "Mateo", "Ryan"
]

last_names = ["Smith", "Johnson", "Williams", "Jones", "Brown", "Davis", "Miller", "Wilson", "Moore", "Taylor", 
              "Anderson", "Thomas", "Jackson", "White", "Harris", "Martin", "Thompson", "Garcia", "Martinez", 
              "Robinson", "Clark", "Rodriguez", "Lewis", "Lee", "Walker", "Hall", "Allen", "Young", "Hernandez", 
              "King", "Wright", "Lopez", "Hill", "Scott", "Green", "Adams", "Baker", "Nelson", "Carter", "Mitchell", 
              "Perez", "Roberts", "Turner", "Phillips", "Campbell", "Parker", "Evans", "Edwards", "Collins", "Stewart"]

# List of mobile game names
game_names = ['Cyberverse Conquest', 
              'Nebula Rumble', 
              'Phantom Runners', 
              'Pixel Odyssey', 
              'Galactic Blitz', 
              'Mystic Maze', 
              'Zombie Zapper', 
              'Cosmic Clash', 
              'Enchanted Enigma']
# Simplified positions without seniority levels
simplified_positions = ['Software Engineer', 
                         'UI/UX Designer', 
                         'Game Designer', 
                         'Level Designer', 
                         'Producer', 
                         'QA Tester', 
                         'Art Director', 
                         'Animator', 
                         'Sound Designer', 
                         'Technical Artist']
# Seniority levels, replacing 'Intermediate' with 'Middle'
seniority_levels = ["Junior", "Middle", "Senior", "Lead"]

# Creating a set to keep track of all used names
all_used_names = set()

# Function to generate 50 unique names per game, ensuring no repetition across all games
def generate_unique_names():
    unique_names = []
    while len(unique_names) < 50:
        name = f"{random.choice(first_names)} {random.choice(last_names)}"
        if name not in all_used_names:
            unique_names.append(name)
            all_used_names.add(name)
    return unique_names

# Generating unique names for each game
unique_game_names_dict = {game: generate_unique_names() for game in game_names}

data = [(game, name) for game in unique_game_names_dict for name in unique_game_names_dict[game]]

# Creating the DataFrame
df = pd.DataFrame(data, columns=["Game", "Counterparty"])

# Displaying the first few rows of the DataFrame
df['position'] = [random.choice(simplified_positions) for _ in range(df.shape[0])]
df['Seniority'] = [random.choice(seniority_levels) for _ in range(df.shape[0])]
seniority_map = {'Middle':2, 'Lead':3, 'Senior':2.5, 'Junior':1}
df = df.assign(rang = df['Seniority'].map(seniority_map))
df['Salary'] = np.random.normal(2000, 50, df.shape[0])* df['rang'] 
staff = df

In [100]:
staff

,Game,Counterparty,position,Seniority,rang,Salary
0,Cyberverse Conquest,Harper Phillips,Level Designer,Senior,2.5,5106.625620
1,Cyberverse Conquest,John Garcia,Software Engineer,Junior,1.0,2032.824639
2,Cyberverse Conquest,Wyatt Stewart,Game Designer,Senior,2.5,5004.588557
3,Cyberverse Conquest,Jackson Taylor,Producer,Lead,3.0,5675.483175
4,Cyberverse Conquest,John Robinson,UI/UX Designer,Lead,3.0,6012.711429
...,...,...,...,...,...,...
445,Enchanted Enigma,Oliver Davis,UI/UX Designer,Middle,2.0,4088.966744
446,Enchanted Enigma,Jack Davis,Level Designer,Middle,2.0,3876.818562
447,Enchanted Enigma,Amelia Jones,Software Engineer,Lead,3.0,6054.364231
448,Enchanted Enigma,Amelia Rodriguez,UI/UX Designer,Lead,3.0,5836.240620
449,Enchanted Enigma,Carter Smith,QA Tester,Lead,3.0,5935.070286

In [101]:
def ops_main(date, revenue, margin_ua, product):
    months = pd.date_range(date, periods=12, freq='M')

# Revenue streams
    in_game_purchases = np.random.normal(revenue, revenue*0.005, 12)
    advertising = np.random.normal(revenue*0.07, revenue*0.07*0.005, 12)

    # Costs
    marketing_cost = np.random.normal(revenue*margin_ua, revenue*margin_ua*0.005, 12) # Average 15k, standard deviation 3k

    # Creating a DataFrame
    financial_data = pd.DataFrame({
        'Month': months,
        'In-game purchases': in_game_purchases,
        'Advertising': advertising,
        'Marketing': marketing_cost*-1,
        'product': product
    })
    return financial_data

### Generate stores

In [49]:
famous_app_stores = llm.invoke('List of the 5 most famous stores for mobile game applications .Return only python list')

In [50]:
print(famous_app_stores.content)

['Apple App Store', 'Google Play Store', 'Amazon Appstore', 'Samsung Galaxy Store', 'Microsoft Store']

In [102]:
# List of the 5 most famous stores for mobile game applications
def inapp(ops, product):
    famous_app_stores = ['Apple App Store', 'Google Play Store', 'Amazon Appstore', 'Samsung Galaxy Store', 'Microsoft Store']
    pct = [0.40, 0.35, 0.10, 0.08, 0.07]
    app_stores = pd.DataFrame({'Counterparty': famous_app_stores, 'pct': pct})
    for i in pd.to_datetime(ops['Month']).dt.strftime('%Y-%m-%d').unique():
        app_stores[i] = (app_stores['pct']+np.random.normal(0, 0.01)) * ops[ops['Month']==i]['In-game purchases'].values
    inapp_df = app_stores.melt(id_vars=['Counterparty'], value_vars=app_stores.columns[-24:], var_name='date', value_name='amount_usd').assign(category='in_app')
    inapp_df['Game'] = product
    return inapp_df

### Generate ads networks

In [52]:
popular_ad_networks = llm.invoke('List of the 10 most famous advertising networks for mobile game applications .Return only python list')

In [53]:
print(popular_ad_networks.content)

["AdMob", "Unity Ads", "Chartboost", "Vungle", "AppLovin", "IronSource", "Tapjoy", "AdColony", "InMobi", "Facebook Audience Network"]

In [103]:
def ads(ops, product):
    popular_ad_networks = ["AdMob", "Unity Ads", "Chartboost", "Vungle", "AppLovin", "IronSource", "Tapjoy", "AdColony", "InMobi", "Facebook Audience Network"]
    pct = [0.30, 0.20, 0.05, 0.03, 0.07,0.05,0.10,0.03, 0.04, 0.03]
    ads_rev = pd.DataFrame({'Counterparty': popular_ad_networks, 'pct': pct})
    for i in pd.to_datetime(ops['Month']).dt.strftime('%Y-%m-%d').unique():
        ads_rev[i] = (ads_rev['pct']+np.random.normal(0, 0.01)) * ops[ops['Month']==i]['Advertising'].values
    ads_rev = ads_rev.melt(id_vars=['Counterparty'], value_vars=ads_rev.columns[-24:], var_name='date', value_name='amount_usd').assign(category='ads_revenue')
    ads_rev['Game'] = product
    return ads_rev

### Generate UA partners

In [56]:
popular_user_acquisition_networks = llm.invoke('List of the 10 most famous user acquisition networks for mobile game applications .Return only python list')

In [57]:
print(popular_user_acquisition_networks.content)

['Facebook Ads',
 'Google Ads',
 'Apple Search Ads',
 'Snapchat Ads',
 'Twitter Ads',
 'AdColony',
 'Chartboost',
 'Unity Ads',
 'IronSource',
 'Vungle']

In [104]:
# List of the 10 most popular user acquisition networks
def ua(ops, product):
    popular_user_acquisition_networks = ['Facebook Ads',
                                         'Google Ads',
                                         'Apple Search Ads',
                                         'Snapchat Ads',
                                         'Twitter Ads',
                                         'AdColony',
                                         'Chartboost',
                                         'Unity Ads',
                                         'IronSource',
                                         'Vungle']
    pct = [0.30, 0.20, 0.05, 0.03, 0.07,0.05,0.10,0.03, 0.04, 0.03]
    ua = pd.DataFrame({'Counterparty': popular_user_acquisition_networks, 'pct': pct})
    for i in pd.to_datetime(ops['Month']).dt.strftime('%Y-%m-%d').unique():
        ua[i] = (ua['pct']+np.random.normal(0, 0.01)) * ops[ops['Month']==i]['Marketing'].values
    ua = ua.melt(id_vars=['Counterparty'], value_vars=ua.columns[-24:], var_name='date', value_name='amount_usd').assign(category='marketing')
    ua['Game'] = product
    return ua.round(2)

In [105]:
def salaries(date, product, nr):
    months = pd.date_range(date, periods=12, freq='M')
    salaries_df = staff[staff['Game']==product]
    salaries_df = salaries_df.sample(nr)
    for i in months.astype(str):
        salaries_df = salaries_df.assign(**{i:(salaries_df["Salary"] + np.random.normal(0, 50, salaries_df.shape[0]))*-1})
    salaries_df = salaries_df.melt(id_vars=['Game', 'Counterparty'], value_vars=salaries_df.columns[-12:], var_name='date', value_name='amount_usd').assign(category='Salaries')
    return salaries_df

### Generate licence names

In [64]:
game_dev_licenses = llm.invoke('List of the 10 famous licenses used in game development industry .Return only python list')

In [65]:
print(game_dev_licenses.content)

['Frostbite', 'Unity', 'Unreal Engine', 'CryEngine', 'Source', 'Havok', 'GameMaker Studio', 'Godot', 'Lumberyard', 'PhyreEngine']

In [106]:
def lic(date, amount, product):
    months = pd.date_range(date, periods=12, freq='M')
    game_dev_licenses = ['Frostbite', 'Unity', 'Unreal Engine', 'CryEngine', 'Source', 'Havok', 'GameMaker Studio', 'Godot', 'Lumberyard', 'PhyreEngine']
    pct = [0.30, 0.20, 0.05, 0.03, 0.07,0.05,0.10,0.03, 0.04, 0.03]
    lic = pd.DataFrame({'Counterparty': game_dev_licenses, 'pct': pct})
    for i in months:
        lic[i] = (lic['pct']+np.random.normal(0, 0.01)) * (amount+ np.random.normal(0,50))
    lic = lic.melt(id_vars=['Counterparty'], value_vars=lic.columns[-12:], var_name='date', value_name='amount_usd').assign(category='licenses')
    lic['Game'] = product
    lic['date'] = lic['date'].dt.strftime('%Y-%m-%d')
    return lic

### Generate laptop brands

In [67]:
game_dev_laptops = llm.invoke('List of the 10 laptops used in game development industry .Return only python list')

In [68]:
print(game_dev_laptops.content)

['Dell XPS 15', 'Apple MacBook Pro', 'Razer Blade 15', 'Asus ROG Zephyrus G14', 'MSI GS66 Stealth', 'Lenovo Legion Y740', 'HP Omen 15', 'Acer Predator Helios 300', 'Gigabyte Aero 15', 'Alienware m15']

In [107]:
def lap(date, amount, product):
    months = pd.date_range(date, periods=12, freq='M')
    game_dev_laptops = ['Dell XPS 15', 'Apple MacBook Pro', 'Razer Blade 15', 'Asus ROG Zephyrus G14', 'MSI GS66 Stealth', 
                        'Lenovo Legion Y740', 'HP Omen 15', 'Acer Predator Helios 300', 'Gigabyte Aero 15', 'Alienware m15']
    pct = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
    lap = pd.DataFrame({'Counterparty': game_dev_laptops, 'pct': pct})
    for i in months:
        lap[i] = (lap['pct']+np.random.normal(0, 0.001)) * (amount+ np.random.normal(0,50))
    lap = lap.melt(id_vars=['Counterparty'], value_vars=lap.columns[-12:], var_name='date', value_name='amount_usd').assign(category='laptops')
    lap['Game'] = product
    lap['date'] = lap['date'].dt.strftime('%Y-%m-%d')
    return lap

### Generate names of companies

In [77]:
investments = llm.invoke('Create ten appealing names for game development companies .Return only python list')

In [78]:
print(investments.content)

['PixelForge Games',
'Infinity Interactive',
'Nebula Studios',
'CodeCraft Games',
'Dreamscape Entertainment',
'ByteBlast Games',
'Enigma Interactive',
'Phoenix Rising Studios',
'Vortex Gaming',
'Luminary Labs']

In [108]:
Dreamscape_Entertainment  = [
    'Cyberverse Conquest', # mature profitable
    'Nebula Rumble', # mature profitable
    'Phantom Runners', # new not profitable promissing
    'Galactic Blitz', # mature not profitable
    'Mystic Maze', # development
    'Zombie Zapper'] # development
PixelForge_Games = [ 
    'Pixel Odyssey', # mature profitable
    'Cosmic Clash', # development
    'Enchanted Enigma' # development
]

### Generate Data

#### Cyberverse Conquest

In [139]:
product = "Cyberverse Conquest"
ops = pd.concat([ops_main(date='2022-01-01', revenue=3_000_000, margin_ua=0.8, product=product).round(2),
ops_main(date='2023-01-01', revenue=4_000_000, margin_ua=0.7, product=product).round(2)])
operations = pd.concat([inapp(ops=ops, product=product), ads(ops=ops, product=product), ua(ops=ops, product=product)]).round(2)
salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=50).round(2),
salaries(date='2023-01-01', product=product, nr=45).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-100000, product=product),
                    lic(date='2023-01-01',amount=-100000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-20000, product=product),
                    lap(date='2023-01-01', amount=-20000, product=product)])
Cyberverse = pd.concat([operations, salaries_df, lic_df, lap_df]).round(2)

#### Nebula Rumble

In [140]:
product = "Nebula Rumble"
ops = pd.concat([ops_main(date='2022-01-01', revenue=7_000_000, margin_ua=0.8, product=product).round(2),
ops_main(date='2023-01-01', revenue=6_000_000, margin_ua=0.8, product=product).round(2)])
operations = pd.concat([inapp(ops=ops, product=product), ads(ops=ops, product=product), ua(ops=ops, product=product)]).round(2)
salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=45).round(2),
salaries(date='2023-01-01', product=product, nr=37).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-150000, product=product),
                    lic(date='2023-01-01',amount=-150000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-25000, product=product),
                    lap(date='2023-01-01', amount=-25000, product=product)])
Nebula = pd.concat([operations, salaries_df, lic_df, lap_df]).round(2)

#### Phantom Runners

In [141]:
product = "Phantom Runners"
ops = pd.concat([
    ops_main(date='2022-01-01', revenue=500_000, margin_ua=1.3, product=product).round(2),
ops_main(date='2023-01-01', revenue=1_000_000, margin_ua=0.8, product=product).round(2)
                ])
operations = pd.concat([inapp(ops=ops, product=product), ads(ops=ops, product=product), ua(ops=ops, product=product)]).round(2)
salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=50).round(2),
salaries(date='2023-01-01', product=product, nr=50).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-170000, product=product),
                    lic(date='2023-01-01',amount=-170000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-30000, product=product),
                    lap(date='2023-01-01', amount=-30000, product=product)])
Phantom = pd.concat([operations, salaries_df, lic_df, lap_df]).round(2)

#### Galactic Blitz

In [142]:
product = "Galactic Blitz"
ops = pd.concat([
    ops_main(date='2022-01-01', revenue=150_000, margin_ua=0, product=product).round(2),
ops_main(date='2023-01-01', revenue=100_000, margin_ua=0, product=product).round(2)
                ])
operations = pd.concat([inapp(ops=ops, product=product), ads(ops=ops, product=product), 
                        # ua(ops=ops, product=product)
                       ]).round(2)
salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=20).round(2),
salaries(date='2023-01-01', product=product, nr=15).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-50000, product=product),
                    lic(date='2023-01-01',amount=-50000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-10000, product=product),
                    lap(date='2023-01-01', amount=-10000, product=product)])
Galactic = pd.concat([operations, salaries_df, lic_df, lap_df]).round(2)

#### Mystic Maze

In [143]:
product = "Mystic Maze"
# ops = pd.concat([
#     ops_main(date='2022-01-01', revenue=150_000, margin_ua=0, product=product).round(2),
# ops_main(date='2023-01-01', revenue=100_000, margin_ua=0, product=product).round(2)
#                 ])
# operations = pd.concat([inapp(ops=ops, product=product), ads(ops=ops, product=product), 
#                         # ua(ops=ops, product=product)
#                        ]).round(2)
salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=20).round(2),
salaries(date='2023-01-01', product=product, nr=42).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-50000, product=product),
                    lic(date='2023-01-01',amount=-150000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-10000, product=product),
                    lap(date='2023-01-01', amount=-30000, product=product)])
Mystic = pd.concat([
    # operations, 
    salaries_df, lic_df, lap_df]).round(2)

#### Zombie Zapper

In [144]:
product = "Zombie Zapper"
salaries_df = pd.concat([
    # salaries(date='2022-01-01', product=product, nr=20).round(2),
salaries(date='2023-01-01', product=product, nr=15).round(2)])
lic_df = pd.concat([
    # lic(date='2022-01-01',amount=-50000, product=product),
                    lic(date='2023-01-01',amount=-70000, product=product)])
lap_df = pd.concat([
    # lap(date='2022-01-01', amount=-10000, product=product),
                    lap(date='2023-01-01', amount=-5000, product=product)])
Zombie = pd.concat([
    # operations, 
    salaries_df, lic_df, lap_df]).round(2)

#### Pixel Odyssey

In [145]:
product = "Pixel Odyssey"
ops = pd.concat([ops_main(date='2022-01-01', revenue=2_000_000, margin_ua=0.8, product=product).round(2),
ops_main(date='2023-01-01', revenue=2_200_000, margin_ua=0.8, product=product).round(2)])
operations = pd.concat([inapp(ops=ops, product=product), ads(ops=ops, product=product), ua(ops=ops, product=product)]).round(2)
salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=30).round(2),
salaries(date='2023-01-01', product=product, nr=28).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-100000, product=product),
                    lic(date='2023-01-01',amount=-100000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-15000, product=product),
                    lap(date='2023-01-01', amount=-15000, product=product)])
Pixel = pd.concat([operations, salaries_df, lic_df, lap_df]).round(2)

#### Cosmic Clash

In [146]:
product = "Cosmic Clash"
salaries_df = pd.concat([
    # salaries(date='2022-01-01', product=product, nr=20).round(2),
salaries(date='2023-01-01', product=product, nr=30).round(2)])
lic_df = pd.concat([
    # lic(date='2022-01-01',amount=-50000, product=product),
                    lic(date='2023-01-01',amount=-100000, product=product)])
lap_df = pd.concat([
    # lap(date='2022-01-01', amount=-10000, product=product),
                    lap(date='2023-01-01', amount=-15000, product=product)])
Cosmic = pd.concat([
    # operations, 
    salaries_df, lic_df, lap_df]).round(2)

#### Enchanted Enigma

In [147]:
product = "Enchanted Enigma"

salaries_df = pd.concat([salaries(date='2022-01-01', product=product, nr=30).round(2),
salaries(date='2023-01-01', product=product, nr=45).round(2)])
lic_df = pd.concat([lic(date='2022-01-01',amount=-900000, product=product),
                    lic(date='2023-01-01',amount=-170000, product=product)])
lap_df = pd.concat([lap(date='2022-01-01', amount=-20000, product=product),
                    lap(date='2023-01-01', amount=-30000, product=product)])
Enchanted = pd.concat([
    # operations, 
    salaries_df, lic_df, lap_df]).round(2)

In [148]:
all_df = pd.concat([Cyberverse, Nebula, Phantom, Galactic, Mystic, Zombie, Pixel, Cosmic, Enchanted])

In [149]:
all_df['investment'] = np.where(all_df['Game'].isin(Dreamscape_Entertainment), 'Dreamscape Entertainment', 'PixelForge Games')

In [150]:
all_df.groupby(['investment', 'Game']).amount_usd.sum()

investment                Game
Dreamscape Entertainment  Cyberverse Conquest    25906941.59
                          Galactic Blitz           190766.89
                          Mystic Maze            -5817082.05
                          Nebula Rumble          49631698.12
                          Phantom Runners        -5787065.63
                          Zombie Zapper          -1560493.23
PixelForge Games          Cosmic Clash           -2962407.40
                          Enchanted Enigma      -15660262.65
                          Pixel Odyssey          12046032.00
Name: amount_usd, dtype: float64

In [151]:
all_df

,Counterparty,date,amount_usd,category,Game,investment
0,Apple App Store,2022-01-31,1192471.25,in_app,Cyberverse Conquest,Dreamscape Entertainment
1,Google Play Store,2022-01-31,1042360.59,in_app,Cyberverse Conquest,Dreamscape Entertainment
2,Amazon Appstore,2022-01-31,291807.28,in_app,Cyberverse Conquest,Dreamscape Entertainment
3,Samsung Galaxy Store,2022-01-31,231763.02,in_app,Cyberverse Conquest,Dreamscape Entertainment
4,Microsoft Store,2022-01-31,201740.89,in_app,Cyberverse Conquest,Dreamscape Entertainment
...,...,...,...,...,...,...
115,Lenovo Legion Y740,2023-12-31,-2996.23,laptops,Enchanted Enigma,PixelForge Games
116,HP Omen 15,2023-12-31,-2996.23,laptops,Enchanted Enigma,PixelForge Games
117,Acer Predator Helios 300,2023-12-31,-2996.23,laptops,Enchanted Enigma,PixelForge Games
118,Gigabyte Aero 15,2023-12-31,-2996.23,laptops,Enchanted Enigma,PixelForge Games
119,Alienware m15,2023-12-31,-2996.23,laptops,Enchanted Enigma,PixelForge Games

In [153]:
all_df.to_csv('finance_all.csv', index=False)